#halim
{
  text-align: center;
  font-family: 'Special Elite', cursive;
}
#ceo
{
  text-align: center;
  font-family: 'Special Elite', cursive;
}
#sisi
{
  background-image: url("../image/food.jpg");
}
.col-md-4
{
  padding: 2%;
  padding-right: 10%;
}
.card.mb-2
{
  width: 150%;
  padding: 2%;
}
h2
{
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  text-align: center;
}
#about
{
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  background-image: url("../image/fruity.jpg");
  background-size: cover;
  color: whitesmoke;
  z-index: -8;
}
#about
{
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Special Elite', cursive;
  text-align: center;
}
.about-overlay
{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 20px;
  padding-left: 4%;
}