#halim
{
  text-align: center;
  font-family: 'Special Elite', cursive;
}
#ceo
{
  text-align: center;
  font-family: 'Special Elite', cursive;
}
#sisi
{
  background-image: url("../image/food.jpg");
}
.col-md-4
{
  padding: 2%;
  padding-right: 10%;
}
.card.mb-2
{
  width: 150%;
  padding: 2%;
}
h2
{
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  text-align: center;
}
#about
{
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  background-image: url("../image/bev.jpeg");
  background-size: cover;
  color: aqua;
  z-index: -8;
}