<<<<<<< HEAD
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  background: #f3f3f3;
  font-family: "Manjari", sans-serif;
}
a {
  text-decoration: none;
  color: #1da1f2;
  transition: 0.5s ease;
}
a:hover {
  color: #0080ff;
}
.form {
  background: rgb(22, 19, 54, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.top-area {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.top-area:after {
  content: "";
  display: table;
  clear: both;
}
.top-area li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.top-area li a:hover {
  background: #0080ff;
  color: #ffffff;
}
.top-area .active a {
  background: #1da1f2;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1da1f2;
}
label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}
label.highlight {
  color: #ffffff;
}
input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus,
textarea:focus {
  outline: 0;
  border-color: #1da1f2;
}
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
.label-field {
  position: relative;
  margin-bottom: 40px;
}
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1da1f2;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover,
.button:focus {
  background: #0080ff;
}
.button-block {
  display: block;
  width: 100%;
}
.forgot {
  margin-top: -20px;
  text-align: right;
}
@media (max-width: 765px) {
  label {
    left: 0;
  }
}
=======
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: left;
    margin: 10px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 30%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 10px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 20%;
    }
  }

  body
  {
    background-image: url("../image/foodpals-search-banner.jpg");
    background-size: cover;
    color: whitesmoke;
  }
>>>>>>> master
