@media screen and (min-width: 480px) and (max-width: 767px) {}
html
{
  scroll-behavior: smooth;
}
.head
{
  background-image: url("../image/foodpals-search-banner.jpg");
  text-align: center;
  color: antiquewhite;
  font-family: 'Special Elite', cursive;
  background-size: cover;
  background-attachment: fixed;
  font-size: 30px;
  z-index: -8;
}
h1
{
  font-size: 70px;
}
.scroll
{
  font-size: 100px;
  color: antiquewhite;
  font-family: 'Cookie', cursive;
}
.bounce 
{
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-50px);
  }
}
.prod
{
  text-align: center;
  font-family: 'Special Elite', cursive;
}
.products
{
  text-align: center;
  font-family: 'Cookie', cursive;
}
#contact
{
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Special Elite', cursive;
  text-align: center;
}
.contact-overlay
{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 20px;
  padding-left: 6%;
}
.form-control
{
  background: transparent;
  color: whitesmoke;
  font-family: 'Special Elite', cursive;
}
#submit
{
  background-color: whitesmoke;
}
#submit:hover
{
  background-color: beige;
  transition: .1s;
  color: blue;
}
.textarea{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 1%;
}
.footer
{
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 20px;
}
#contact
{
  position: relative;
}
.video-background
{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height:auto;
  width:100%;
  z-index: -100;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .video-background
  {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .video-background
  {
    width: auto;
    height: 100%;
  }
}
body
{
  margin-left: 2px;
}
.about
{
  text-align: center;
  font-family: 'Special Elite', cursive;
  background-image: url("../image/food2.jpg");
  font-weight: bolder;
}
.aboutustext
{
  font-size: 30px;
}
#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6{
  display: none;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 50%;
  padding-right: 30%;
  background-color:rgba(77, 62, 62, 0.456);
  position:absolute;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
}
.Overlay
{
  margin-left: 0;
  text-align: center;
  position: absolute;
  font-size: 30px;
}