.head
{
  background-image: url("../image/foodpals-search-banner.jpg");
  text-align: center;
  color: antiquewhite;
  font-family: 'Special Elite', cursive;
  background-size: cover;
  font-size: 30px;
  z-index: -8;
}
h1
{
  font-size: 70px;
}
.scroll
{
  font-size: 100px;
  color: antiquewhite;
  font-family: 'Cookie', cursive;
}