body {
    background-color: antiquewhite;
    font-family: 'Courgette';
}
.landing {
    background: url("../image/foodpals-search-banner.jpg");
    text-align: center;
    color: black;
    height: 150%;
    width: 100%;
 }
 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    
 }
 .about {
    text-align: center;
  }
  #size {
      text-align: center;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
