body {
   /* margin-top:40px;*/
}
.wizard-form .input-group{
  width: 100%;
  margin-bottom: 0;
}
.stepwizard-step p {
    font-size: 14px;
   font-family: 'Nunito', sans-serif;
    margin-top: 10px;

}
.stepwizard-row {
    display: block;
}
.stepwizard {
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: block;
    float: left;
    min-width: 33%;
    text-align: center;
    padding-left: 0;
    display: block;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
  }

.wizard-container{
  width: 100%;
}
.setup-content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

 
/*** Shopping Cart Wizard Form  ***/


.grid.box .form .form-actions,
.grid.solid .form .form-actions {
    margin-left: -10px!important;
    margin-right: -10px!important;
    margin-bottom: -10px!important;
}
.wizard-steps {
    display: block;
    list-style: none outside none;
    padding: 0;
    position: relative;
    width: 100%;
}
.wizard-steps li {
    display: block;
    float: left;
    max-width: 25%;
    min-width: 25%;
    text-align: center;
    padding-left: 0;
}
.wizard-steps li:before {
    border-top: 6px solid #55606E;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 13px;
    right: 1px;
    width: 100%;
    z-index: 1;
}
.wizard-steps li:first-child:before {
    left: 50%;
    max-width: 50%;
}
.wizard-steps li:last-child:before {
    max-width: 50%;
    width: 50%;
}
.wizard-steps li.complete .step {
    background-color: #0aa699;
    padding: 1px 6px;
    border: 4px solid #55606e;
}
.wizard-steps li .step {
    background-color: #d1dade;
    border-radius: 32px 32px 32px 32px;
    color: #ffffff;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    line-height: 12px;
    padding: 4px 9px;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all 0.2s linear 0s;
}
.wizard-steps li .step i {
    font-size: 10px;
    font-weight: normal;
    position: relative;
    top: -1.5px;
}
.wizard-steps li .title {
    color:#ed5a46;
    display: block;
    font-size: 13px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104;
}
.wizard-steps a:hover,
.wizard-steps a:active,
.wizard-steps a:focus {
    text-decoration: none;
}
.wizard-steps li.active .step,
.wizard-steps li.active.complete .step {
    background-color:#ED5A46;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
}
.wizard-steps li.complete .title,
.wizard-steps li.active .title {
    color: #2B3D53;
}
.step-content {
    margin-left: 60px;
    margin-top: 40px;
}
.step-content .step-pane {
    display: none;
    min-height: 267px;
}
.step-content .active {
    display: block;
}
.wizard .wizard-actions ul{
    display: block;
    list-style: none outside none;
    padding: 0;
    position: relative;
    width: 100%;
    margin-right: 10px;
}

.wizard-actions {
    display: block;
    list-style: none outside none;
    padding: 0;
    position: relative;
    width: 100%;
    margin-right: 10px;
}

.wizard-actions li {
   float: right;
    display: inline;
}
.tab-content {
    overflow: auto;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 18px;
}
.tab-content.transparent {
    background-color: transparent;
}
.form-group {
    margin-bottom: 20px;
    padding-left: 5px !important;
    padding-right: 5px !important;

}
.form-group .form-label {
    color: #55606e;
    display: inline-block;
    margin-right: 8px;
}
.form-group .help {
    color: #A7ABB1;
    font-size: 12px;
}
.form-group .controls {
    margin-top: 8px;
}
.form-control {
    border: 1px solid #E5E9EC;
    font-size: 13px;
}
.form-row input,
.form-row select,
.form-row textarea,
.form-row select2 {
    margin-bottom: 10px;
}
.form-row .radio {
    margin-bottom: 7px;
}
.form-row:last-child {
    margin-bottom: 0;
}
.grid {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}
.grid.closed .grid-body {
    display: none;
    overflow: hidden;
}
.grid.box {
    padding: 0px!important;
}
.grid.box .form-horizontal.form-bordered .control-group {
    margin-left: -10px;
    margin-right: -10px;
}
.grid.box .form-horizontal.form-bordered .control-group:first-child {
    margin-top: -10px;
}
.grid.box .grid-title {
    padding: 8px 10px 2px 10px;
    border-bottom: 1px solid #eee;
    color: #ffffff!important;
    margin-bottom: 0px;
}
.grid.box .grid-title>.actions>.btn>i {
    color: #ffffff!important;
}
.grid.box .grid-title .tools {
    margin-top: 3px;
}
.grid.box .grid-title .tools a {
    background:url(@{base-img-url}/icon/portlet-tray.png) no-repeat;
    width: 23px;
    height: 23px;
}
.grid.box .grid-body {
    background-color: #ffffff;
    padding: 10px;
}
.grid.box.blue {
    border: 1px solid #b4cef8;
    border-top: 0;
}
.grid.box.blue .grid-title {
    background-color: #58acf3;
}
.grid.box.red {
    border: 1px solid #f35958;
    border-top: 0;
}
.grid.box.red .grid-title {
    background-color: #f35958;
}
.grid.box.yellow {
    border: 1px solid #fccb7e;
    border-top: 0;
}
.grid.box.yellow .grid-title {
    background-color: #ffb848;
}
.grid.box.green {
    border: 1px solid #0aa699;
    border-top: 0;
}
.grid.box.green .grid-title {
    background-color: #0aa699;
}
.grid.box.purple {
    border: 1px solid #af5cc1;
    border-top: 0;
}
.grid.box.purple .grid-title {
    background-color: #852b99;
}
.grid.box.grey {
    border: 1px solid #9d9c9c;
    border-top: 0;
}
.grid.box.grey .grid-title {
    background-color: #555555;
}
.grid.box.light-grey {
    border: 1px solid #eee;
    border-top: 0;
}
.grid.box.light-grey .grid-title {
    background-color: #aaa;
}
.grid .simple .form-actions {
    margin-left: -20px!important;
    margin-right: -20px!important;
    margin-bottom: -20px!important;
}
.grid .solid .grid-title {
    color: #ffffff!important;
    border-bottom: 1px solid #ffffff;
}
.grid.solid .grid-title {
    margin-bottom: 5px;
    border: 0px;
    padding: 13px 15px 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35)!important;
}
.grid.solid .grid-title .tools {
    margin-top: 2px;
    border: 0px;
}
.grid.solid .grid-title h4 {
    color: #ffffff;
}
.grid.solid .grid-body {
    color: #ffffff;
    padding: 20px;
}
.grid.solid .grid-body h3 {
    color: #ffffff;
}
.grid.simple {
    padding: 0px!important;
}
.grid.simple .grid-title {
    padding: 14px 15px 7px 15px;
    border-bottom: 1px solid #eee;
    color: #282323!important;
    background-color: #ffffff;
    margin-bottom: 0px;
    border: 1px solid #dddddd;
    border-bottom: 0px;
}
.grid.simple .grid-title>.actions>.btn>i {
    color: #ffffff!important;
}
.grid.simple .grid-title .tools {
    margin-top: 0px;
    position: relative;
}
.grid.simple .grid-title.no-border {
    border: 0px;
    border-bottom: 0px;
}
.grid.simple .form-actions {
    margin-right: -26px!important;
    margin-left: -26px!important;
    margin-bottom: -26px!important;
}
.grid.simple.transparent .grid-body {
    background-color: transparent!important;
    border: none;
}
.grid.simple.transparent .grid-title {
    border: none;
    border-bottom: 1px solid #D7DBE0;
    background-color: transparent;
}
.grid.simple .grid-body {
    background-color: #ffffff;
    padding: 26px;
    border: 1px solid #dddddd;
    color: #6f7b8a;
}
.grid.simple .grid-body.no-padding {
    padding: 0px;
}
.grid.simple .grid-body .wrap-body {
    padding: 0 26px;
    padding-top: 10px;
}
.grid.simple .grid-body.no-border {
    border: 0px;
    padding-top: 1px;
}
.grid.simple .grid-body h4 {
    color: #282323;
}
.grid.simple .grid-body h3 {
    color: #282323;
}
.grid.simple .grid-body.invoice-body {
    padding: 30px;
}
.grid.simple .grid-body.invoice-body .invoice-logo {
    margin-bottom: 18px;
}
.grid.simple.vertical.green {
    border-left: 4px solid #0aa699;
    border-top: none!important;
}
.grid.simple.vertical.red {
    border-left: 4px solid #f35958;
    border-top: none!important;
}
.grid.simple.vertical.purple {
    border-left: 4px solid #736086;
    border-top: none!important;
}
.grid.simple.vertical.blue {
    border-left: 4px solid #0090d9;
    border-top: none!important;
}
.grid.simple.horizontal.red .grid-title {
    border-top: 4px solid #f35958;
}
.grid.simple.horizontal.yellow .grid-title {
    border-top: 4px solid #ffb848;
}
.grid.simple.horizontal.green .grid-title {
    border-top: 4px solid #0aa699;
}
.grid.simple.horizontal.purple .grid-title {
    border-top: 4px solid #852b99;
}
.grid.simple.horizontal.grey .grid-title {
    border-top: 4px solid #555555;
}
.grid.simple.horizontal.light-grey .grid-title {
    border-top: 4px solid #aaa;
}
.grid:after,
.grid:before {
    display: table;
}
.grid-title {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.grid-title h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.grid-title h4 i {
    font-size: 14px;
    margin-right: 5px;
    color: #666;
}
.grid-title.descriptive {
    padding-left: 23px!important;
    padding-top: 20px!important;
}
.grid-title.descriptive .actions {
    margin-right: 14px;
    margin-top: -16px;
}
.grid-title.descriptive .actions a {
    color: #4c5264;
}
.grid-title.descriptive .actions a:hover {
    opacity: 0.5;
}
.grid-title.descriptive .actions i {
    font-size: 22px;
    margin-right: 10px;
}
.grid-title.descriptive p {
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7a7d82;
    font-size: 12px;
}
.grid-title.clickable {
    cursor: pointer;
}
.grid-title .tools>a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
}
.grid-title .tools>a:hover {
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: .6;
}
.grid-title .dropdown-menu i {
    color: #000;
}
.grid-title .actions>.btn-group {
    margin-top: -12px;
}
.grid-title .actions>.btn-group>.btn {
    padding: 4px 10px;
    margin-top: -1px;
}
.grid-title .actions>.btn {
    padding: 4px 10px;
    margin-top: -13px;
}
.grid-title .actions>.btn.mini {
    margin-top: -12px;
    padding: 4px 10px;
}
.grid-title .pagination.pagination-small {
    float: right!important;
    display: inline-block!important;
    margin: 0px;
    margin-top: -2px;
}
.grid-title .tools,
.grid-title .actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    float: right;
}
.grid-body {
    padding: 0;
}
.grid-body .btn-toolbar {
    margin: 0px!important;
    padding: 0px!important;
}
.grid-body .slimScrollBar {
    margin-right: 0px!important;
}
.grid-body:before {
    display: table;
    content: " ";
}
.grid-body:after {
    clear: both;
    display: table;
    content: " ";
}
.grid-body.light-blue,
.grid.light-blue {
    background-color: #bfd5fa!important;
}
.grid-body.blue,
.grid.blue {
    background-color: #58acf3!important;
}
.grid-body.red,
.grid.red {
    background-color: #f35958!important;
}
.grid-body.yellow,
.grid.yellow {
    background-color: #ffb848!important;
}
.grid-body.green,
.grid.green {
    background-color: #0aa699!important;
}
.grid-body.purple,
.grid.purple {
    background-color: #852b99!important;
}
.grid-body.light-grey,
.grid.light-grey {
    background-color: #fafafa!important;
}
.grid-body.dark-grey,
.grid.dark-grey {
    background-color: #555555!important;
}
.sortable .grid .grid-title {
    cursor: move;
}
.ui-sortable {
    min-height: 10px!important;
}
.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible!important;
    height: 100%!important;
}
.ui-sortable-placeholder * {
    visibility: hidden;
}
.sortable-box-placeholder {
    background-color: #f5f5f5;
    border: 1px dashed #DDDDDD;
    display: block;
    margin-top: 0px!important;
    margin-bottom: 24px!important;
}
.sortable-box-placeholder * {
    visibility: hidden;
}
.grid.simple .grid-title .tools a,
.grid.solid .grid-title .tools a {
    position: relative;
    background: url('../img/icon/portlet-tray.png') no-repeat;
    transition: all 0.1s linear 0s;
}
.grid.simple .grid-title .tools>a.remove,
.grid.solid .grid-title .tools>a.remove {
    background-position: -66px -38px;
    width: 10px;
    height: 10px;
    top: -5px;
}
.grid.simple .grid-title .tools>a.config,
.grid.solid .grid-title .tools>a.config {
    background-position: -3px -32px;
    width: 22px;
    height: 22px;
}
.grid.simple .grid-title .tools>a.reload,
.grid.solid .grid-title .tools>a.reload {
    background-position: -37px -38px;
    width: 12px;
    height: 10px;
    top: -5px;
}
.grid.simple .grid-title .tools>a.expand,
.grid.solid .grid-title .tools>a.expand {
    background-position: -123px -40px;
    width: 10px;
    height: 6px;
    top: -5px;
}
.grid.simple .grid-title .tools>a.collapse,
.grid.solid .grid-title .tools>a.collapse {
    background-position: -95px -40px;
    width: 9px;
    height: 7px;
    top: -5px;
}

.tab-pane .form-inline{
    padding-right: 150px;
    padding-left: 150px;
}

.account.tab-pane .form-inline{
    padding-right:0px;
    padding-left: 0px;
}

.tab-pane .form-inline .form-control {
  width: 100%;
}

.wizard-actions .btn {
  padding:10px;
  margin-left: 5px;
  border: 1px solid #dadada;
}

.payment_methods  .payment_method{
    margin-bottom: 45px;
}
.payment_methods  .payment_method label{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
    display: inline-block;
}
.payment_methods  .payment_method input[type=checkbox], 
.payment_methods  .payment_method input[type=radio]{
    display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
}
.payment_methods .payment_box{
    padding-top: 10px;
    padding-left: 22px;
}
